body {
	font-family: 'DungGeunMo';
}

header{
    background-image: url(images/flag/flagofSouthAmerica/Flag_of_Colombia.svg.png);
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
 
}
