body {
	font-family: 'DungGeunMo';
}

header{
    background-image: url(images/flag//flagofAisa/Flag_of_South_Korea.svg.png);
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
 
}
